{% extends "layout.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>
<p>
Herkese merhaba. Ben Ahmet Baş İstanbul Üniversitesi coğrafya bölümü mezunuyum.
Yazılıma olan merakımdan python öğrenmeye başladım. Mustafa Murat Coşkun'un Udemy kursunu
aldım ve çalışıyorum. Bu arada özel bir eğitim kursunda uzun yıllardır matematik öğretmenliği
yapıyorum. Yazılım merakım yıllardır var fakat Engin Demiroğ'un söylediği öğrenme cehennemine
takıldım (learning hell). Engin Demiroğ'un youtube kaplatı ile birlikte hevesim arttı.
Kamplarada C# sonra Java anlatıyor olsada ben python ile başlamak istedim.
</p>
{% endblock body %}<h3></h3>